
*,
html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: beige;
}
p{
    color: red;
    padding: 20px;
    font-size: 2rem;
}
