*,
html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    background: grey;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
p{
    border: 1px solid black;
    background: grey;
    color: white;
    padding: 10px;
    margin: 10px;
    align-items: center;
}
button{
    border: none;
    background: lightblue;
    border-radius: 10px;
    font-size: 2rem;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s;
}
input{
    border: black solid 1px;
    border-radius: 10px;
    padding: 4px 20px;
    margin: 5px;
    cursor: pointer;
}